# Django
DEBUG=True
SECRET_KEY=change-this-in-production
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=django_shop
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Zarinpal Sandbox
ZARINPAL_MERCHANT_ID=

# Redis / Celery
CELERY_BROKER_URL=redis://redis:6379/0
REDIS_CACHE_URL=redis://redis:6379/1

# Email - SMTP4Dev for local development
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp4dev
EMAIL_PORT=25
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@django-shop.local